.profile-picture{
    width:50%;
    border-radius: 50%;
    position:relative;
    animation-duration: 2s;
    animation-name: slide-in-left;
}
main{
    margin-top: 5%;
}
#descriptions{
    list-style-type: none;
    text-align:center;
    padding:0;
}
@keyframes slide-in-left{
    from{
        margin-right:200%;
        
    }
    to{
        margin-right: 0%;
        
    }
}
/* @keyframes slide-in-down{
    from{
        margin-top:100%;
        
    }
    to{
        margin-top: 6%;
        
    }
} */
#text{
    text-align: center;
}

#descriptions>li{
    padding: 5px
}

@media screen and (max-width:850px){
    .margin-small{
        margin-top:20px;
    }
    .call-to-action{
        text-align:center;
        
    }
}
@media screen and (min-width:850px){
    .call-to-action{
        margin-top:6%;
        text-align:center;
        position:relative;
        /* animation-duration: 2s;
        animation-name: slide-in-down; */
        
    }
}